.steps{
  margin: 100px 200px 100px 200px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  padding: 10px;
}

.input{
  margin-bottom: 8px;
}

.collapse{
    margin-bottom: 50px;
    margin-top: 50px;
}

.card{
  margin-top: 24px;
}
.info{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.texto{
  white-space: nowrap; 
}

.pessoaSelecionada{
  margin: 50px 0 ;
}